<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.Extensions.DependencyInjection" version="8.2.6" targetFramework="net461" />
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="8.2.6" targetFramework="net461" />
  <package id="SC.Sitecore.Kernel" version="8.2.6" targetFramework="net452" />
  <package id="SC.System.Web.Http" version="8.2.6" targetFramework="net461" />
  <package id="SC.System.Web.Http.WebHost" version="8.2.6" targetFramework="net461" />
  <package id="SC.System.Web.Mvc" version="8.2.6" targetFramework="net461" />
  <package id="SXA82.Sitecore.XA.Foundation.Common" version="1.6.0" targetFramework="net452" />
  <package id="SXA82.Sitecore.XA.Foundation.Multisite" version="1.6.0" targetFramework="net461" />
  <package id="SXA82.Sitecore.XA.Foundation.SitecoreExtensions" version="1.6.0" targetFramework="net461" />
</packages>